


.fas {
    border: solid black 5px;
    border-radius: 100%;
    font-size: 1rem;
}

#prevBtn {
    position: absolute;
    top: 30%;
    left:3%;
    color: blue;
    font-size:1.5rem;
}

#nextBtn {
    position: absolute;
    top: 30%;
    right:3%;
    color:blue;
    font-size:1.5rem;
    
}

.control-dots {
    display: none;
}


.legend {
    display: none;
}

.carousel .thumbs-wrapper {
    display: none;
}

.Carousel {
    width: 100%;
    margin: 0 auto;
    position: relative;
    
}

.carousel .slide img {
    height: 100vh;
}




.slide1 {
    background: url(/images/championshipSlider.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.slide2 {
    background: url(/images/xboxlogo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.slide3 {
    background: url(/images/battleslider.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}

/* .images {
    display: none;
} */